<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
    <link rel="icon" href="/public/logo-jo.png" type="logo-jo">
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container-center">
        <form action="/add" method="POST">
            <section class="Enviado-Editado">
                <h1>Actualizacion Correcta!!!!!!!!!</h1>
                <a href="/"><button type="button">Agregar Nueva Pieza</button></a>
                <a href="/table"><button type="button">Lista de piezas</button></a>
            </section>
        </form>
    </div>
</body>
</html>